# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
click
flask
flask-login
flask-sqlalchemy
greenlet
itsdangerous
jinja2
python-dotenv
sqlalchemy
typing-extensions
typing_extensions
tzdata
werkzeug
