{% extends 'base.html' %}

{% block content %}
<p>{{ toefl_ibts|length }} Titles</p>
<ul class="movie-list">
    {% for toefl_ibt in toefl_ibts %}
    <li>
        {{ toefl_ibt.name }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('toelf_ibt_paper', toefl_id=toefl_ibt.id) }}">Detail</a>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}